= simple_form_for @employee, html: { class: 'form'} do |f|
  .row
    .col-md-6
      = f.input :first_name
    .col-md-6
      = f.input :last_name
  .row
    .col-md-6
      = f.input :email
    .col-md-6
      = f.input :location, collection: titleize(Employee::LOCATIONS), include_blank: false
  .row
    .col-md-6
      = f.input :grade, collection: titleize(Employee::GRADES), include_blank: false
    .col-md-6
      = f.input :salary
  .row
    = f.simple_fields_for :experience do |ex|
      .col-md-6
        = ex.input :year, collection: 0..40,  selected: @employee.experience&.fetch('year') || 0, label: 'Experience in years'
      .col-md-6
        = ex.input :month, collection: 0..12, selected: @employee.experience&.fetch('month') || 0, label: 'Experience in months'
  .row
    .col-md-6
      = f.input :profile, collection: titleize(Employee::PROFILES), include_blank: false
    .col-md-6
      = f.input :engagement, collection: titleize(Employee::ENGAGEMENTS), include_blank: false
  .row
    .col-md-6
      = f.input :role, collection: titleize(Employee::ROLES), include_blank: 'Select Role'
    .col-md-6
      = f.input :lead_id, collection: leads, include_blank: 'Select Lead'
  .row
    .col-md-12
      = f.input :notes, as: :text
  .row
    -  disabled = @employee.authorized_employee? && !@employee.persisted? ? false : true
    .col-md-6
      = f.input :password, disabled: disabled
    .col-md-6
      = f.input :password_confirmation, disabled: disabled
      %span.reset_password Reset Password
  = f.submit @employee.persisted? ? "Update" : "Create", class: 'btn btn-primary employee-button'

:javascript
  var employee = {
    is_admin: #{@employee.id ? @employee.reload.authorized_employee? : false},
    admin_roles: #{ Employee::ADMIN_ROLES.to_json.html_safe }
  }

  window.employee = employee