= simple_form_for @employee, url: create_employee_projects_employee_path, method: :post, remote: true, html: {class: 'form-inline col-md-12'} do |f|
  = f.simple_fields_for :employee_projects do |ep|
    .col-md-3
      = ep.input :project_id, collection:  @projects, label: false, include_blank: 'Select Project', required: true
    .col-md-4
      = ep.input :started_at, as: :date, label: false, prompt: ['day', 'month', 'year'], required: true
    .col-md-3
      = ep.input :is_current, as: :boolean, class: "project-label", label: 'Current Project'
    .col-md-2.text-center
      = f.submit "Add", class: 'btn btn-primary'