= simple_form_for @employee, url: update_employee_project_employee_path, method: :put, remote: true, html: { id: employee_project.id } do |f|
  = f.simple_fields_for :employee_projects do |ep|
    = ep.hidden_field :project_id, value: employee_project.id
    %td
      = ep.input :project_id, collection: Project.all.map{|project| [project.name, project.id ]}, label: false, include_blank: 'Select Project', required: true, selected: employee_project.project&.id
    %td
      = ep.input :started_at, as: :date, label: false, prompt: ['day', 'month', 'year'], required: true, selected: employee_project.started_at
    %td
      = ep.input :is_current, as: :boolean, class: "project-label", label: 'Current Project', value: employee_project.is_current
  %td
    = f.submit "Update"