- @employee.employee_projects.each  do |ep|
  .row.project-data{id: "row_#{ep.id}"}
    .col-md-3.text-center
      = ep.project&.name
    .col-md-4.text-center
      = ep.started_at&.strftime('%d/%m/%y')
    .col-md-3.text-center
      = ep.is_current ? 'Ongoing': 'Stale'
    .col-md-2.text-center
      = link_to edit_employee_project_employee_path(@employee, params: { project_id: ep.id }), data: { remote: true } do
        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
