.container
  #accordion
    .card
      .card-header
        %a.card-link{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1"}
          Basic Information
      #collapse1.collapse.show{"data-parent" => "#accordion"}
        .card-body
          .card
            .card-body
              = render 'basic_details'
    .card
      .card-header
        %a.card-link{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2"}
          Project Details
      #collapse2.collapse{"data-parent" => "#accordion"}
        .card-body
          .card
            .card-body
              .row.data-header
                .col-md-3.text-center
                  %h3 Name
                .col-md-4.text-center
                  %h3 Started At
                .col-md-3.text-center
                  %h3 State
                .col-md-2.text-center
                  %h3 Action
              #project-rows
                = render 'employee_projects'
              .row
                = render 'employee_project_form'
    .card
      .card-header
        %a.card-link{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3"}
          Skill Details
      #collapse3.collapse{"data-parent" => "#accordion"}
        .card-body
          .card
            .card-body
              .row.data-header
                .col-md-5.text-center
                  %h3 Name
                .col-md-5.text-center
                  %h3 Experience
                .col-md-2.text-center
                  %h3 Action
              #skill-rows
                = render 'employee_skills'
              .row
                = render 'employee_skill_form'


- content_for :footer do
  = javascript_pack_tag 'employee'