.container
  %h2 Employee
  %table.table
    %thead
      %tr
        %th Email
        %th Firstname
        %th Lastname
        %th Location
    %tbody
      - @employees.each do |employee|
        %tr
          %td= link_to employee.email, edit_employee_path(employee.id)
          %td= employee.first_name
          %td= employee.last_name
          %td= employee.location

  = link_to 'Add Employee', new_employee_path