%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{:href => "#"}
      %img{ src: "#{asset_pack_path 'logo.png'}" }
    %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.navbar-collapse.collapse
      %ul.navbar-nav.mr-auto
      %ul.navbar-nav
        %li.nav-item.active
          = link_to 'Employess', employees_path, class: nav_class(params[:controller], 'employees')
        %li.nav-item
          = link_to 'Projects', projects_path, class: nav_class(params[:controller], 'projects')
        %li.nav-item
          = link_to 'Skills', skills_path, class: nav_class(params[:controller], 'skills')
        - if current_employee
          %li.nav-item.dropdown
            %a#navbardrop.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = current_employee.email
            .dropdown-menu
              = link_to 'Profile', edit_employee_path(current_employee),class: 'dropdown-item'
              = link_to 'Log Out', destroy_employee_session_path, method: :delete, class: 'dropdown-item'
