
.container
  .form-container
    .main-div
      .panel
        %h2 Admin Login
        %p Please enter your email and password
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'Login' }) do |f|
        .form-group
          = f.input :email, required: false, autofocus: true, label: false, placeholder: 'Email'
        .form-group
          = f.input :password, required: false, label: false, placeholder: 'Password'
        .forgot
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        = f.button :submit, 'Log in', class: 'btn btn-primary'