!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TrResourceManagement
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag    'styles/application'
    = stylesheet_pack_tag    "styles/#{params[:controller]}"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar'
    .container
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value

    = yield
    = javascript_pack_tag 'application'
  = yield :footer